<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/Javascript/chart.js"></script>
    <script type="text/javascript" src="/Javascript/skateboard.min.js"></script>
    <script type="text/javascript">
      skateboard('http://localhost:8080/skateboard?param=true', function(stream) {
          stream.pipe(stream);
          stream.on('data', function(d) {
              console.log(d);
          });
          stream.on('disconnection', function() {
              console.log('disconnected')
          });
          stream.on('reconnection', function() {
              console.log('reconnected')
          })
      }).on('connection', function() {
          console.log('connected')
      });
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 400px; height: 120px;"></div>
  </body>
</html>

